body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(106, 46, 149);
}

h1{
    font-size: 36px;
    color: rgb(69, 139, 74);
    margin-top: 0;
}

p{
    font-size: 20px;
    line-height: 2;
    color: rgb(164, 175, 64);
}

.container{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(83, 25, 125);
    flex-direction: column;
    display: flex;
    height: 50%;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px){
    h1{
        font-size: 28px;
    }
    p{
        font-size: 12px;
    }
    .container{
        width: 90%; 
        padding: 10px;
    }
}