.error{
    color: red;
    margin: 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.correto{
    color: green;
    margin: 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.entrada{
    opacity: 1;
}
