.calculadora{
    position: fixed;
    top:50%;
    left:50%;
    background-color: rgb(162, 0, 255);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-image: linear-gradient(rgb(174, 0, 255),rgb(255, 0, 170));
    border: 10px solid #8a8a8a;
    border-radius: 10px;
    padding: 20px;
}/*fechamento calculadora*/

.tela{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 3rem;
    width: 93%;
    height: 80px;
    margin-bottom: 20px;
    border: 3px solid rgb(124, 124, 124);
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(229, 172, 255);
    color: rgb(255, 0, 170);
}

.botao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.operadores{
}/*fechamento dos operadores*/

.outros{
}

.apagadores{
}

button{
    font-size: 25px;
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border: 4px solid plum;
    background-image: linear-gradient(rgb(255, 0, 170), rgb(174, 0, 255));
    border-radius: 10px;
    cursor: pointer;
}

button:last-child{
    margin-right: 0;
}

button:hover{
    background-color: #2491e5;
    color: #f5f5f5  
}